<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>One million arab coders</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body>
    <div id="container">
        <nav id="menu">
            <h1 id="logo"> Arab Coders Forums </h1>
            <div class="menu-all"><ul>
                <li class="menu-item"><a href="#"> Home </a></li>
                <li class="menu-item"><a href="#"> Members </a></li>
                <li class="menu-item"><a href="#"> Categories </a></li>
                <li class="menu-item"><a href="#"> Tutorials </a></li>
                <li class="menu-item"><a href="#"> Contact </a></li>
            </ul></div>
        </nav>
    </div>
    <div class="content">
        <h2> POSTS <a href="topic_add" style="padding-left: 200px">Create Post</a></h2>
        <table id="body-content">
            <tbody style="padding-buttom: 20px;">
        {% for post in posts %}
            <tr>
                <td>
                    {{post.title}}
                </td>
                <td>
                    <a href="{{ url_for('topic_view', id = post.id) }}" target="_blank">view</a>
                </td>
                <td>
                    <a href="{{ url_for('topic_edit', id = post.id) }}">edit</a>
                </td >
                <td>
                    <a href="{{ url_for('topic_delete', id = post.id) }}" data-id="{{post.id}}" class="deleted">delete</a>
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <footer class="wsfooter">
            <h4>Done by: Majd Abboud</h4>
            <br>
            <p><a href="mailto:majdabboud81@gmail.com">Email: majdabboud81@gmail.com</a></p>
        </footer>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
</script>

<script type="text/javascript">
    $(function ()
     {
        $(".deleted").click(function()
        {
            var id = $(this).data('id');

            $.ajax({
                type: "DELETE",
                url: "/api/topic/delete/"+id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response)
                {
                    alert("Topic deleted successfully !");
                    location.reload();
                }
            });
        });
     });
</script>
</html>
