<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>One million arab coders</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body>
    <div id="container">
        <nav id="menu">
            <h1 id="logo"> Arab Coders Forums </h1>
            <div class="menu-all"><ul>
                <li class="menu-item"><a href="/index"> Home </a></li>
                <li class="menu-item"><a href="#"> Members </a></li>
                <li class="menu-item"><a href="#"> Categories </a></li>
                <li class="menu-item"><a href="#"> Tutorials </a></li>
                <li class="menu-item"><a href="#"> Contact </a></li>
            </ul></div>
        </nav>
    </div>

    <div class="content">
        <h2>{{post.title}}: </h2>
        <br>
        <h3 style="text-align: center">{{post.content}}</h3>
    </div>

    <footer class="wsfooter">
        <h4>Done by: Majd Abboud</h4>
        <br>
        <p><a href="mailto:majdabboud81@gmail.com">Email: majdabboud81@gmail.com</a></p>
    </footer>

</body>
</html>
