<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>One million arab coders</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}"/>
</head>
<body>
    <div id="container">
        <nav id="menu">
            <h1 id="logo"> Arab Coders Forums </h1>
            <div class="menu-all"><ul>
                <li class="menu-item"><a href="/index"> Home </a></li>
                <li class="menu-item"><a href="#"> Members </a></li>
                <li class="menu-item"><a href="#"> Categories </a></li>
                <li class="menu-item"><a href="#"> Tutorials </a></li>
                <li class="menu-item"><a href="#"> Contact </a></li>
            </ul></div>
        </nav>
    </div>

        <form action= "{{ url_for('topic_edit', id=post.id) }}" method="POST">
            <h2> Edit This Post</h2>
            <br>
            <br>
            <h4>Title: </h4>
            <p><input type="text" name="title" value="{{post.title}}"/></p>
            <br>
            <h4>Content: </h4>
            <p><input type="text" style="height: 90px" name="content" value="{{post.content}}"/></p>
            <p><input class="cta" type="submit" value="Update"/></p>
        </form>

    <footer class="wsfooter">
        <h4>Done by: Majd Abboud</h4>
        <br>
        <p><a href="mailto:majdabboud81@gmail.com">Email: majdabboud81@gmail.com</a></p>
    </footer>

</body>

<html>
